@import 'functions/_columns';
@import 'functions/_image-text';
@import '_totaliser-settings';
@import 'functions/_text-contrast';
@import 'functions/_hover-effects';


// ========
// Clearfix
// ========

@mixin clearFix{
	&:after {
		  content: "";
		  display: table;
		  clear: both;
    }
}

//============
// Transitions
//============

// feel free to customise this to whatever you prefer

@mixin transitionFade{
	transition: all 300ms ease-out;
}


@keyframes fadeIn {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}